In [ ]:
sentense = "pyhon programing language"
count = 0
for ch in sentense :
  if ch in "aeiou" :
    count +=1
    print ("total vowels is :",count)

total vowels is : 1
total vowels is : 2
total vowels is : 3
total vowels is : 4
total vowels is : 5
total vowels is : 6
total vowels is : 7
total vowels is : 8

In [ ]:
base = 4
height =5
triangle =0.5 *base*height
print ("area of triangle is :",triangle)

area of triangle is : 10.0

In [ ]:
red =4
area = 3.14 *red**2
print ("area of circle is :",area)

area of circle is : 50.24

In [ ]:
exmaple =[5,25,35,28 ,45,10,15]
print (max(exmaple))

45

In [ ]:
number = [5,25,7,99,56]
print (max(number))

99

In [ ]:
numbers = [10, 25, 7, 99, 56]
lar = numbers[0]
for i in numbers :
  if i > lar :
    lar = i
print(lar,"is a largest number in this list")

99 is a largest number in this list

In [ ]:
sentense = "bachelor of computer science first semester section c"
count = 0
for ch in sentense:
  if ch not in "aeiou":
    count +=1
print("total consonents is :",count)

total consonents is : 36

In [ ]:
fruits =("apple","banana","cherry","mango","orange","greeps","banna","pinaple","pappaya","watter melon" )
for fruit in fruits:
  if fruit =="greeps":
    continue
  print(fruit)

apple
banana
cherry
mango
orange
banna
pinaple
pappaya
watter melon

In [ ]:
mobiles = ["vivo","redmi","oppo","vivo","vivo","vivo","oppo","IQee","vivo","1 plus"]
for mobile in mobiles:
  if mobile =="vivo":
    continue
  print(mobile)

redmi
oppo
oppo
IQee
1 plus

In [ ]:
Movies = ["KGF","Chhava","bahulbali","saiyara","RRR","kalkli","kannadakagi onendonn"]
for movie in Movies:
  if movie =="kalkli":
    continue
  print(movie)

KGF
Chhava
bahulbali
saiyara
RRR
kannadakagi onendonn

In [ ]:
thing = {"mobile","Laptop","moninter", "tab","book","pen"}
for things in thing:
  if things =="pen":
    continue
  print(things)

book
moninter
tab
Laptop
mobile

In [ ]:
for i in range (1,10):
  for j in range (j):
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [57]:
for i in range (5):
  for j in range (i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [59]:
for i in range (5):
  for j in range (i+1):
    print(" ",end = " ")
  for k in range (5-i):
    print("*",end=" ")
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [64]:
for i in range(8):
  for j in range(0,i+1):
    print(" ",end=" ")
  for j in range(8):
    print("*",end=" ")
  print()

  * * * * * * * *
    * * * * * * * *
      * * * * * * * *
        * * * * * * * *
          * * * * * * * *
            * * * * * * * *
              * * * * * * * *
                * * * * * * * *

In [67]:
for i in range(5):
  for j in range(i+1,5):
    print(" ",end=" ")
  for j in range(5):
    print("*",end=" ")
  print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [74]:
row = 5
col = 5
for i in range(0,row):
  for j in range(0,col):
    if i ==0 or i ==row-1 or j==0 or j==col-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [76]:
for i in range(10):
  for j in range(i+1):
    print("*", end="")
  print()

*
**
***
****
*****
******
*******
********
*********
**********

In [78]:
num = 7
for i in range(0, num):
    for j in range(0, num - i - 1):
        print(end=" ")
    for j in range(0, i + 1):
        print("*", end=" ")
for i in range(num - 1, 0, -1):
    for j in range(0, num - i):
        print(end=" ")
    for j in range(0, i):
        print("*", end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [82]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end =" ")
  for j in range (0,i*2+1):
      print(chr(65+j),end=" ")
  print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [84]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
    print("@",end=" ")
  print()

            @
          @ @ @
        @ @ @ @ @
      @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @

In [87]:
# 1) example
def example():
  print("good afternoon")
example()

good afternoon

In [90]:
# 2) example
def fun(num):
  return num*num
fun(4)

16

In [92]:
def add(a,b):
  print(f'addition of two number is {a+b}')
add(5,10)

addition of two number is 15