In [ ]:
num = int(input("enter a number value"))
count = 0
i = 1
while i <= num :
  if num % i == 0 :
    count+=1
    i+=1
if count == 2 :
  print("prime number")
else:
  print("not prime number")

enter a number value7

KeyboardInterrupt

In [ ]:
colours =['blue','red','pink','black']
print(type(colours))
for i in colours:
  print (i)

<class 'list'>
blue
red
pink
black

In [ ]:
number ={1,2,3,4,5,6,7,8,9,}
for i in number:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
name = """KLE BK BCA college in chikodi"""
rev = ""
for i in name:
  rev = i + rev
print(rev)

idokihc ni egelloc ACB KB ELK

In [ ]:
 for i in range (10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for  i in range (1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
sum  =0
for i in range (1,10+1):
  sum = sum + i
print(sum)

55

In [19]:
sum = 0
for i in range(1,5):
  sum +=i
print(sum)

10

In [21]:
sum =4
for i in range(1,5):
  sum *=i
print(sum)

96

In [24]:
num =4
for i in range(1,11):
  print ("4*",i,"=",num*i)

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [25]:
for i in range (2,101,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [26]:
fact = 1
for i in range (1,6):
  fact = fact * i
print(fact)

120

In [30]:
# fiboncacci series / number using for loop
# 0 1 1 2 3 5 8 13 21 34 55 89 144
a, b = 0, 1
for i in range(1,14):
  print(a,end=" ")
  a, b = b,a+b

0 1 1 2 3 5 8 13 21 34 55 89 144